<h1> My List </h1>

<% Item.all.each do |item| %>
  <table style="width:30%">
    <tr>
      <td><a href="/items/<%=item.id%>"><h3><%= item.item %></a></h3>
      </td>

      <td><button><a href="/items/<%=item.id%>/edit"> Edit </a></button>
      </td>

      <td><form action="/items/<%= item.id %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete" name="delete"></td>
      </td>
  </table>
<%end%>

<a href="/new">New Item</a><br>
<a href="/logout">Log Out</a>
