<!DOCTYPE html>

<title>Edit </title>

  <h2>  Edit <%= @item.item %> </h2>

  <hr>

  <form action="/items/<%=@item.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <h3><input type="text" name="item" value="<%= @item.item%>"></h3><br>

    <br>

    <h3><input id= "item" type="submit" value="submit"></h3>
  </form>
