<!DOCTYPE html>

<h1><b> Edit <%= @item.item %> </b></h1>
<hr>
<form action="/items/<%=@item.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

<input type="text" class="form-control input-sm chat-input"name="item" value="<%= @item.item%>" />
</br>

<div class="wrapper">
<span class="group-btn">
<input id= "item" type="submit" value="Submit Changes" class="btn btn-primary btn-md"/>
</span>
</div>
