<!DOCTYPE html>

<Title> Shopstik </Title>

<h1> Shopstik </h1>

<hr>

<h2> Your to-do list at your fingertips </h2>

<h3> Whether you’re grocery shopping or party planning, Shopstik is here to help you track all of your to-do's.</h3>

<br>
<span>
  <h3>
    <button><a href="/signup">Sign Up </a></button>
    <button><a href="/login">Log In</a></button>
  </h3>
</span>
