<!DOCTYPE html>

<h1><b> Shopstik </b></h1>

<hr>

<h2><b> Your to-do list at your fingertips </b></h2>

<br>

<h3> Whether you’re grocery shopping or party planning, Shopstik is here to help you get things done!</h3>

<br>
<br>
<span class="group-btn">
<h2>
<a href="/signup" class="btn btn-lg btn-primary btn-block btn-signin">Sign Up </a>
<a href="/login" class="btn btn-lg btn-primary btn-block btn-signin" >Log In </a>
</h2>
</span>
]
